<div data-component="assets-list-view" class="assets-list-view box-shadow">
  <div class="assets-list-view-header d-flex flex-column">

    <% include ./asset-search.ejs %>

    <div class="mb-0 d-flex justify-content-end dropdown pr-1">
      <a href="#" id="dropDownSortMenu" class="d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="color-slate mr-1">Sort by |</span> Fuel Level
        <i class="material-icons">arrow_drop_down</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropDownSortMenu">
        <a class="dropdown-item" href="#">Unit</a>
        <a class="dropdown-item" href="#">Type</a>
        <a class="dropdown-item" href="#">Status</a>
        <a class="dropdown-item" href="#">Fuel Level</a>
        <a class="dropdown-item" href="#">Total Hours</a>
        <a class="dropdown-item" href="#">Client</a>
      </div>
    </div>
  </div>

  <div class="assets-list-view-body">
    <%- include('./asset-card.ejs', {
      asset: {
        name: 'KVA 125',
        type: 'generator',
        alert: {
          level: 'danger',
          message: 'Fuel'
        },
        unit: {
          type: 'WKF344'
        },
        runninghrs: 9872,
        auxiliary: null,
        fuel: {
          level: 50
        }
      }
    }) %>
    <%- include('./asset-card.ejs', {
      asset: {
        name: 'KVA 50',
        type: 'generator',
        alert: {
          level: 'danger',
          message: 'No Tank'
        },
        unit: {
          type: 'SPO8722'
        },
        runninghrs: 44,
        fuel: {
          level: null
        },
        auxiliary: null
      }
    }) %>
    <%- include('./asset-card.ejs', {
      asset: {
        name: 'KVA 35',
        type: 'generator',
        alert: {
          level: 'warning',
          message: 'Service'
        },
        unit: {
          type: 'HAG222'
        },
        runninghrs: 750,
        fuel: {
          level: null
        },
        auxiliary: {
          name: 'R837463',
          fuel: {
            level: 45
          }
        }
      }
    }) %>
    <%- include('./asset-card.ejs', {
      asset: {
        name: 'KVA 125',
        type: 'generator',
        alert: {
          level: 'ok',
          message: 'Ok'
        },
        unit: {
          type: 'WKF344'
        },
        runninghrs: 998,
        auxiliary: null,
        fuel: {
          level: 85
        }
      }
    }) %>
    <%- include('./asset-card.ejs', {
      asset: {
        name: '2400 L',
        type: 'fuel',
        alert: {
          level: 'ok',
          message: 'Ok'
        },
        unit: {
          type: '3432'
        },
        fuel: {
          level: 85
        },
        generator: {
          name: 'KVA 500'
        }
      }
    }) %>
    <%- include('./asset-card.ejs', {
      asset: {
        name: '1000 L',
        type: 'fuel',
        alert: {
          level: 'ok',
          message: 'Ok'
        },
        unit: {
          type: '8227'
        },
        fuel: {
          level: 66
        },
        generator: null
      }
    }) %>
  </div>

  <% include ./asset-detail-view.ejs %>
</div>
